<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hogwerts</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/d4/Hogwarts-Crest.png" alt="School Logo" />
        </div>
        <div class="school-name">
            <h1>Hogwerts</h1>
        </div>
    </header>
    <nav>
        <a href="/students">Manage Students</a>
        <a href="/courses">Manage Courses</a>
        <a href="/enrollments">Manage Enrollments</a>
    </nav>

    <div class="hero">
        <h2>Your Future Starts Here</h2>
        <p>At Tokyo Curse High School, we foster growth, creativity, and excellence in education. Join us and be part of our vibrant school community!</p>
    </div>

    <section class="about">
        <h2>About Us</h2>
        <p>Hogwerts is a prestigious institution committed to providing quality education and empowering students to succeed in their academic and personal endeavors. Our mission is to inspire students to reach their fullest potential and become responsible, innovative citizens of the world.</p>
    </section>

    <footer>
        <p>&copy; 2024 Hogwerts. All rights reserved.</p>
    </footer>
</body>
</html>
