<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a class="activeTab" href="/students">Manage Students</a>
        <a href="/courses">Manage Courses</a>
        <a href="/enrollments">Manage Enrollments</a>
    </nav>

    <h2>Hogwarts Student List</h2>

    <form action="/students/add" method="POST" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required><br>

        <label for="age">Age:</label>
        <input type="number" name="age" id="age" required><br>

        <label for="phone">Phone:</label>
        <input type="text" name="phone" id="phone" required><br>

        <label for="image">Image (URL or File):</label>
        <input type="text" name="image" id="image"><br>

        <button type="submit">Add New Student</button>
    </form>

    <h2>Student List</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{range .students}}
            <tr>
                <td>{{.ID}}</td>
                <td>
                    {{if .Image}}
                        <img src="{{.Image}}" alt="Student Image">
                    {{else}}
                        No Image
                    {{end}}
                </td>
                <td>{{.Name}}</td>
                <td>{{.Age}}</td>
                <td>{{.Phone}}</td>
                <td class="student-actions">
                    <form action="/students/edit/{{.ID}}" method="GET" style="display: inline;">
                        <button type="submit">Edit</button>
                    </form>
                    <!-- <a href="/students/edit/{{.ID}}" class="edit-button">Edit</a> -->
                    <form action="/students/delete" method="POST" style="display: inline;">
                        <input type="hidden" name="id" value="{{.ID}}">
                        <button type="submit" class="delete-button" onclick="return confirm('Are you sure you want to delete this student?');">🗑️</button>
                    </form>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
</body>
</html>
